@charset "utf-8";
@import url("style_page.css");
/* CSS Document */


.h3carrusel {
    color: #FFFFFF;
    font-family: playfair-display;
    font-style: normal;
    font-weight: 400;
    width: 94%;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 37px;
}
.h6carrusel {
    color: #FFFFFF;
    font-family: playfair-display;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    padding-left: 15px;
}
.pcarrusel {
    width: 80%;
    color: #FFFFFF;
    text-align: justify;
    padding-left: 15px;
    font-family: lato;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 40px;
}
.row.color-texto.align-items-center .col-lg-6 .rounded.img-fluid {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    left: 18%;
}

.tituloexpo {
    text-align: center;
    color: #A31621;
    font-family: playfair-display;
    font-style: normal;
    font-weight: 400;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.pintroexpo {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 79%;
    padding-bottom: 20px;

}
#nombre   {
    margin-left: 19px;
    margin-right: 20px;


    width: 30
$;
    margin-top: 19px;
    width: 30%;
}
#direccion   {
    width: 60%;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
}
.row .col-xl-6 #form1 {
    background-color: #A71B26;
    margin-top: 45px;
    margin-bottom: 45px;
}
#ciudad   {
    background-color: #FFFFFF;
    width: 30%;
    margin-top: 20px;
    margin-left: 26px;
}
.col-xl-6 #form1 #tel {
    margin-top: 20px;
    width: 24%;
    margin-left: 26px;
}
.col-xl-6 #form1 #textarea {
    margin-top: 20px;
    width: 50%;
    margin-left: 9px;
    margin-bottom: -15px;
}
.formulario {
    margin-top: 70px;
    margin-bottom: 70px;
}

.ftexto {
    color: #FFFFFF;
    font-family: "Lato Regular";
    font-style: normal;
    font-weight: 400;
}
.row .col-xl-6 {
    background-color: #AB1C27;
}


.col-xl-6 #form1 #submit {
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    font-family: "Lato Regular";
    font-style: normal;
    font-weight: 400;
    margin-left: 25%;

}
.col-xl-6 #form1 #reset {
    clear: none;
    margin-left: 90px;
    margin-top: 46px;
    background-color: #FFFFFF;
    font-family: "Lato Regular";
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 7px;
}
.row .col-xl-5 {
    color: #A31621;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
    font-size: 154%;
    font-family: "Lato Regular";
}
  a{ text-decoration: none;
    color:inherit;}
    a:hover{
    text-decoration: none;
    color:inherit;
}
.navbar-toggler {
    /* [disabled]background-color: rgba(163,22,33,0.50); */
}
